body{
    font-family: 'Merriweather', serif;
   
    background-image: url('desk.jpg');
    margin: 0;
    }

   

.resume{
    
   width: 1000px; 
    margin: 0 auto;
     background-color:white;
    padding: 50px;
    overflow: hidden;

}
.contact {
    text-align: left;
}

.contact img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

.contact a {
    text-decoration: none;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
           color: mix(#fff, #e91e63, 85%);
        font-size: calc(1em + 5vw) ;  
        font-weight: 100;
        text-shadow: 
            -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
            0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
            0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
            0.015em 0.015em mix(#fff, #e91e63, 64%), 
            0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
            0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
            0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
            0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
    

}

h2{
margin-top: 0px;
color: grey;
text-align: center;
}

.resume h5,h6{
    text-align: center;
    margin: 0;
}

h1,h2 {
    border-bottom: solid 1px, black;
    margin-top: 35px;
    text-align: center;
}
h3{ 
     border-bottom: solid 1px black;
    margin-top: 35px;}
h3 {  
    color: white;
    background-color: rgb(223, 195, 226);
    
}
.Demasinfo h6{
    margin: 0mm;
    text-align: left;
}



.left {
    width: 50%;
    float: left;
    background-color: white;
}

.right {
    width: 40%;
    float: right;
    background-color: white;
}
input[type=submit] {
    background-color: #a74caf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #83116a;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  footer{
      text-align: center;
  }